<!DOCTYPE html>
<html>
    <head>
        <style>
            #error{
                color: red;
            }
            footer{
                position: absolute;bottom: 0;
            }
        </style>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>浴室予約システム</title>
    </head>
    <body>
        <div class="w3-container" style="padding: 0;">
            <div class="w3-panel w3-green" style="margin-top: 0;">
                <p>
                    <b style="display: inline-block;">浴室予約システム</b>
                </p>
            </div>
        </div>
        <div class="w3-container">
            <h2>ログイン</h2>
            <div>
                {% if Error == 1 %}
                <p id=error>学籍番号とパスワードを入力してください．</p>
                {% elif Error == 2 %}
                <p id=error>ログイン時にエラーが発生しました．</p>
                {% elif Error == 3 %}
                <p id=error>不正な操作が確認されました．最初からやり直してください．</p>
                {% endif %}
                <form action="/reserve" method="POST">
                    <label>学籍番号</label>
                    <input type="text" class="w3-input" name="userid" required/><br>
                    <label>パスワード</label>
                    <input type="password" class="w3-input" name="password" required/><br>
                    <input class="w3-check" type="checkbox" name="save_authentification" id="save_authentification" value="yes">
                    <label for="save_authentification">IDとパスワードを保存し，次回以降自動でログインする</label><br /><br />
                    <input type="submit" class="w3-btn w3-ripple w3-green" value="ログイン"/>
                </form>
            </div>
            <div>
                ユーザ登録はこちら → <a href="/user_regist_form">新規登録</a><br /><br />
                <a href="./?ui=default">PC版ページへ切り替え</a><br />
            </div>
        </div>
    </body>
</html>